[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = v3_req
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C  = AR
ST = Buenos Aires
L  = Buenos Aires
O  = Ecoserv
CN = dummy.local

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = dummy.local

